<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<link href="ISD.css" rel="stylesheet">
		
		<title>
			Timetable Generator
		</title>
	</head>

	<body>
	

		<div id="wrapper">
			<div class="con">
				<header>
				  <div>
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Logo-LNMIIT.svg/799px-Logo-LNMIIT.svg.png?20110427094856" alt="">
				  </div>
				  <div>
					<h3>
					  THE LNM INSTITUTE OF INFORMATION TECHNOLOGY
					</h3>
					<h5>
					  "EXCELLENCE OUR MOTTO DISCIPLINE OUR WAY"
					</h5>
				  </div>
				</header>
			  </div>
			<!-- Left pane starts -->
			<div id="controls">
				<h2 class="tbh2">Time Table Generator</h2>
				<div id="school-tabs" class="buttons">
				</div>

				<div id="school-list">
				</div>

				<div class="buttons">
					<div>
						<input type="checkbox" id="color" checked>
						<label for="color">Add Colors?</label><br>
					</div>
					<button class="btn btn-info" type="button" id="gen-code">Generate</button>
					<button class="btn btn-info" type="button" id="gen-nick">Generate(with Names)</button>
					<button class="btn btn-info" id="reset">Reset</button>
					<button class="btn btn-info" type="button" id="pdf">Download PDF</button>
				</div>
			</div>
			<!-- Left pane ends here -->

			<!-- Right pane starts -->
			<div id="preview">
				<h2 class="tbh2">Generated Timetable</h2>
				<div id="tab">
					<table>
						<tr>
							<th scope="col">Day</th>
							<th scope="col">08:30</th>
							<th scope="col">09:30</th>
							<th scope="col">10:30</th>
							<th scope="col">11:30</th>
							<th scope="col">12:30</th>
							<th scope="col">13:30</th>
							<th scope="col">14:30</th>
							<th scope="col">15:30</th>
							<th scope="col">16:30</th>
							<th scope="col">17:30</th>
							<th scope="col">18:30</th>
							

						</tr>

						<tr>
							<th scope="row">Monday</th>
							<td class="A">A</td>
							<td class="B">B</td>
							<td class="C">C</td>
							<td class="D">D</td>
							<td class="lunch">Lunch Break</td>
							<td class="H">H</td>
							<td class="L">L</td>
							<td class="M">M</td>
							<td class="O">O</td>
							<td class="P">P</td>
							<td class="N">N</td>
						</tr>

						<tr>
							<th scope="row">Tuesday</th>
							<td class="D">D</td>
							<td class="E">E</td>
							<td class="F">F</td>
							<td class="G">G</td>
							<td class="lunch">Lunch Break</td>
							<td class="J">J</td>
							<td class="I">I</td>
							<td class="O">O</td>
							<td class="P">P</td>
							<td class="Q">Q</td>
							<td class="K">K</td>
						</tr>

						<tr>
							<th scope="row">Wednesday</th>
							<td class="G">G</td>
							<td class="A">A</td>
							<td class="B">B</td>
							<td class="C">C</td>
							<td class="lunch">Lunch Break</td>
							<td class="E">E</td>
							<td class="H">H</td>
							<td class="K">K</td>
							<td class="N">N</td>
							<td class="O">O</td>
							<td class="P">P</td>
						</tr>

						<tr>
							<th scope="row">Thursday</th>
							<td class="G">G</td>
							<td class="D">D</td>
							<td class="E">E</td>
							<td class="F">F</td>
							<td class="lunch">Lunch Break</td>
							<td class="I">I</td>
							<td class="Q">Q</td>
							<td class="J">J</td>
							<td class="L">L</td>
							<td class="N">N</td>
							<td class="M">M</td>
						</tr>

						<tr>
							<th scope="row">Friday</th>
							<td class="F">F</td>
							<td class="C">C</td>
							<td class="A">A</td>
							<td class="B">B</td>
							<td class="lunch">Lunch Break</td>
							<td class="J">J</td>
							<td class="L">L</td>
							<td class="H">H</td>
							<td class="I">I</td>
							<td class="K">K</td>
							<td class="M">M</td>
						</tr>
					</table>
				</div>
				<h2 class="tbh2" id="h2leg" class="hidden">Legend</h2>
				<ul id="legend">
				</ul>
			</div>
			<!-- Right pane ends here -->
		</div>

		

		<script src="jspdf.umd.min.js"></script>
		<script src="jspdf.plugin.autotable.js"></script>
		<script src="html2canvas.min.js"></script>
		<script src="data<%=branch%><%=sem%>.js"></script>
		<script src="main.js"></script>
	</body>
</html>
