<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="ISD.css">
    <title>Homepage</title>
</head>
<body>
    <div id="wrapper">
        <div class="con">
            <header>
              <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Logo-LNMIIT.svg/799px-Logo-LNMIIT.svg.png?20110427094856" alt="">
              </div>
              <div>
                <h3>
                  THE LNM INSTITUTE OF INFORMATION TECHNOLOGY
                </h3>
                <h5>
                  "EXCELLENCE OUR MOTTO DISCIPLINE OUR WAY"
                </h5>
              </div>
            </header>
          </div>
          <div class="con">
            <div class="pannel">
                <button type="button" class="btn btn-info">Registered Courses</button>
            <button type="button" class="btn btn-info">Time Table</button> 
            <button type="button" class="btn btn-info">Home</button>
            <button type="button" class="btn btn-info">Course Registeration</button>
            </div>
                       
        </div>
        <div class="con report">
            <h1>Registeration Complete! <br>Report will be Generated soon and you will be notified. </h1>
            <button type="button" class="btn btn-info"> <a href="/courseRegisterationadmin">Home</a></button>
            <button type="button" class="btn btn-info"> <a href="/login">Logout</a></button>
        </div>
        
    </div>
</body>
</html>